* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, rgb(218, 179, 247), rgb(89, 65, 105));
    padding: 10px;
}

.todo {
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    background: #fff;
    border-radius: 10px;
}

.todo h2 {
    color: #333;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.add-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
}

button {
    border: none;
    outline: none;
    background: #3d3489;
    color: #fff;
    padding: 16px 50px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-position: center;
    top: 12px;
    left: 8px;
    background-image: url('radio-button.png');
    background-size: cover;
}

ul li.checked {
    text-decoration: line-through;
    color: #999;
}

ul li.checked::before {
    background-image: url('checked.jpg');
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #ff5945;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}